@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider {
  display: flex;
  align-items: center;
  margin: 0 auto;

  &__wrapper {
    width: 310px;
    margin: 0 20px;

    overflow: hidden;
  }
}

.carousel {
  display: flex;

  transition: transform 0.3s ease-in-out;

  &__dots-wrap {
    display: flex;
    margin: 2rem auto;
  }

  &__dot {
    width: 10px;
    height: 10px;

    background-color: #a4a2a4;
    border-radius: 50%;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &_active {
      background-color: #767476;
    }
  }
}
